<div class="about">About</div>
<div class="info">
  The College Stuff is a community website where students can rate their lecturers based on various criteria. We hope this website will help students to some extent in deciding what courses to take based on the quality of the lecturer and also for prospecitve students to know the quality of lecturers in the college of their interest. There is no one in a better position to grade the lecturers than the students who have already taken the course under that lecturer. If the current students take a few minutes and rate their lecturers on the site, it will help the entire student community in the long run.
</div>

<div class="about">Contact</div>
<div class="info">
    For all questions, comments, feedback, send us an email to
    <span style="font-weight: bold;">
    team 'at' thecollegestuff.com
    </span>
</div>
