<style>
    .rats {
      display: inline-block;
      width: 35px;
    }
    .ratm {
      display: inline-block;
      width: 55px;
    }

   .ratsh {
        padding-right: 5px;
    }

    .ratsc {
        width: 340px;
        display: inline-block;
    }

    #ratlist {
      width: 700px;
    }

</style>
<h1>Listing ratings</h1>

<div>
    <span class="ratsh">Q1</span>
    <span class="ratsh">Q2</span>
    <span class="ratsh">Q3</span>
    <span class="ratsh">Q4</span>
    <span class="ratsh">Q5</span>
    <span class="ratsh">Comments</span>
</div>

<%= render(:partial => "rating") %>
</div>
